/* Esconde o input */
input[type='file'] {
  display: none
}

/*
.dataMsg1 {
	width:100%;
}

.dataMsg2 {
	width:120px;
	height:20px;
	background-color:#B9CBFF;
	border-radius: 7px 7px 7px 7px;
	text-align:center;
	margin-top:10px;
	color:#666;
}
*/

body {
  min-height: 100vh;
  width:100%;
  background: #099;
}
/*
#frame {
  width: 95%;
  min-width: 98%; 
  max-width: 360px;
  height: 92vh;
  min-height: 300px;
  max-height: 100%;
  background-image: url("../images/fundoconversa.jpg");  
}
*/
#frame {
  width: 100%;
  max-width: 100%;
  height: 95vh;
  max-height: 100%;
  background-image: url("../images/fundoconversa.jpg"); 
}

@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}

/*
#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 510px; 
  width: 40%;
  height: 100%;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
}
*/
#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 400px;
  width: 40%;
  height: 100%;
  background: #F5F5F5;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}



#frame #sidepanel #profile {
  width: 90%;
  margin: 25px auto;
  
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    /* background: #32465a; */
  }
}


#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}

/*
#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
*/

#frame #sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}


#frame #sidepanel #profile .wrap img {
  width: 60px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}


/*Avatar do Usuário Master Círculo Verde    */
#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}

/*
#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}
#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}
#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}
*/

/*Frame do Menu Ativar/Desativar e Sair*/
#frame #sidepanel #profile .wrap p {
  float: left;
  margin-left: 15px;
}



@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}

/*
#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}



@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}
*/


#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}


#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}


#frame #sidepanel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}


#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}
#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}


#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}


#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}


#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}

/*
#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: #95a5a6;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}
*/



#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}
#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}
#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}
#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
}


@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
    display: none;
  }
}


#frame #sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
#frame #sidepanel #search input {
  /* Procurar ou iniciar nova conversa */
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: #f5f5f5;
  
}
#frame #sidepanel #search input:focus {
  /* Procurar ou iniciar nova conversa ao receber foco */
  outline: none;
  /* background: #435f7a; */
  background: #ededed;
}
#frame #sidepanel #search input::-webkit-input-placeholder {
   /* Procurar ou iniciar nova conversa Cor do placeholder */
  /* color: #f5f5f5; */
  
}
#frame #sidepanel #search input::-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 149px);
    /*overflow-y: scroll; */
    overflow-x: hidden;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: none;
  }
}
#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}
#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  /*
  background: #2c3e50; */
  background: #f5f5f5
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}
#frame #sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
#frame #sidepanel #contacts ul li.contact:hover {
  /* Mouse em cima do contato */
  /* background: #32465a; */
  background: #ededed;
}
#frame #sidepanel #contacts ul li.contact.active {
  /* contato ativo */
  /* background: #32465a; */
  background: #ededed;
  border-right: 5px solid #435f7a;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}
#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88%; /*88%*/
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}

/*Cor de fundo da bolinha que indica nova mensagem cor: verde médio*/
#frame #sidepanel #contacts ul li.contact .wrap span.novamensagem {
  background: #2ecc71;
}

/*
#frame #sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}
*/

#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}
#frame #sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#frame #sidepanel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  
  /*background: #32465a;*/
  background:#eeeeee
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}
#frame #sidepanel #bottom-bar button:focus {
  outline: none;
}
#frame #sidepanel #bottom-bar button:nth-child(1) {
  /* border-right: 1px solid #2c3e50; */
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}
#frame #sidepanel #bottom-bar button:hover {
  /* background: #435f7a; */
}
#frame #sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button span {
    display: none;
  }
}


#frame .content {
  float: right;
  width: 60%;    /*ORIGINAL 60%*/
  height: 100%;
  overflow: hidden; 
  position: relative;
  
}


@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}


@media screen and (min-width: 900px) {
  /*CONTROLA A LARGURA DA JANELA DE MENSAGENS*/
  #frame .content {
    /*width: calc(100% - 30%);*/
	width: calc(100% - 400px);
  }
}


#divBtnAcessarTransferencia {
  float: right;
  /* margin-left: auto; */
  /* margin: 0 auto; */
}


#frame .content .contact-profile {
  /* Controla a barra superior de para quem se está enviando a mensagem */
  width: 100%;                 
  height: 60px;
  line-height: 60px;
  background: #EEEEEE;
}

#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
#frame .content .contact-profile p {
  float: left;
}


/*By Henrique Ayres */
/* Conversa */


.conversation {
  /*height: calc(100% - 95px); */
  height:85%;
  position: relative;
  z-index: 0;
}

.conversation ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 3px;
  z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
  background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}


.conversation .conversation-container {
  /*height: calc(100% - 68px); */
  height: calc(100% - 18px);
  overflow-x: hidden;
  padding: 0 16px;
  margin-bottom: 5px;
}

.conversation .conversation-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Messages */

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  /* z-index: -1; */ /*Retirado porque senão o audio não é tocado */
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}


.metadata .time {  /* Se quiser mostrar a hora real */
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}


.metadata .time2 { /* Se quiser mostrar a hora arquivada ou informada */
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
          transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
  
}


.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7; /*Orelhinha da mensagem enviada */
  top: 0;
  right: -10px;
}

/* 29/01/2019 */
.message.datamsg {
    float:left;
	width:120px;
	height:32px;
	background-color:#E1F3FB;
	border-radius: 7px 7px 7px 7px;
	text-align: center;
	margin-top:0px; 
	color:#666;
	margin-left:43%;
}	

.message.datamsg:after {
  border-color: transparent transparent transparent transparent;
}


/************************/


/* Compose */

.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: calc(100% - 0px);
  z-index: 9999;
  float: left;
  margin-top:-20px;
  margin-left:5px;
}

/* retirei input 
.conversation-compose div,
.conversation-compose input {
  background: #fff;
  height: 100%;
  
}
*/

/* troquei para textarea */
.conversation-compose div,
.conversation-compose textarea {
  background: #fff;
  height: 100%;
}

.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
  
  
}

.conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;
  resize: none;
 
}

.conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
}

.conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -10px;
}

.conversation-compose .photo i {
  display: block;
  color: #7d8488;
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}

.conversation-compose .send .circle {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
}

/* Pequenas telas */

@media (max-width: 768px) {
  .marvel-device.nexus5 {
    border-radius: 0;
    flex: none;
    padding: 0;
    max-width: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .marvel-device > .screen .chat {
    visibility: visible;
  }

  .marvel-device {
    visibility: hidden;
  }

  .marvel-device .status-bar {
    display: none;
  }

  .screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .conversation {
    height: calc(100vh - 55px);
  }
  .conversation .conversation-container {
    height: calc(100vh - 120px);
  }
}

/* DOCUMENTOS RECEBIDOS E ENVIADOS */

._1fnMt{
    box-sizing:border-box;
    width:276px
}
html[dir] ._1fnMt{
    padding:3px 3px 22px
}

html[dir] ._2CORf ._12xX7{
    background-color:#d1ecbc
}
html[dir] .message-in ._2CORf ._12xX7 {
    background-color: #F6F6F6
}

._2CORf .PyPig:before{
    color:rgba(0,0,0,.3)
}
html[dir] ._1vKRe {
	cursor:pointer;
}

html[dir] ._1vKRe {
	border-radius:6px;
}

._1vKRe{
    box-sizing:border-box;
    color:inherit;
    display:block;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    overflow:hidden;
    width:100%;
}

html[dir] ._1vKRe{
    border:1px solid rgba(75,89,97,.1);
}

html[dir] ._12xX7 {
	cursor:pointer;
}


._12xX7,{
    display:-webkit-flex
}

._12xX7{
    -webkit-align-items:center;
    align-items:center;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-flex:0 0 auto;
    flex:0 0 auto;
    height:34px;
    text-decoration:none
}

html[dir] ._12xX7{
    padding:13px 19px;
}

html[dir] ._12xX7{
    padding:13px 19px;
}
html[dir] .IKxkY ._12xX7{
    background-color:#f2f2f2;
}
html[dir] ._2CORf ._12xX7{
    background-color:#d1ecbc;
}
html[dir] .message-in ._2CORf ._12xX7 {
    background-color: #F6F6F6;
}

html[dir=rtl] .nxILt{
    text-align:right;
}

.nxILt{
    position:relative;
}

.nxILt{
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
    overflow:hidden;
    text-overflow:ellipsis;
    top:-2px;
    white-space:nowrap;
}
html[dir] .nxILt{
    margin:0 10px;
}

._17viz{
    -webkit-align-items:center;
}

._17viz{
    position:relative
}

._17viz{
    display:-webkit-flex;
    display:flex;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-flex:none;
    flex:none;
    width:34px;
    height:34px
}

._3SUnz{
    position:absolute;
    top:1px
}

html[dir=ltr] ._3SUnz{
    left:1px
}

html[dir=rtl] ._3SUnz{
    right:1px
}

._1UDDE{
    z-index:2
}

html[dir=ltr] ._1UDDE,html[dir=rtl] ._1UDDE{
    -webkit-animation:_2m9Rd 2s linear infinite;
    animation:_2m9Rd 2s linear infinite
}

._3GbTq{
    stroke-dasharray:1,150;
    stroke-dashoffset:0;
    stroke-linecap:round;
    -webkit-animation:_9ynz9 1.5s ease-in-out infinite;
    animation:_9ynz9 1.5s ease-in-out infinite;
    stroke:#acb9bf
}

._37WZ9{
    stroke:#849982
}

._3Lj_s{
    bottom:3px
}

._3Lj_s{
    position:absolute
}

html[dir=ltr] ._3Lj_s{
    right:7px
}
html[dir=rtl] ._3Lj_s{
    left:7px
}

._1DZAH{
    font-family:Roboto,sans-serif
}

._1DZAH{
    white-space:nowrap
}

._1DZAH{
    color:rgba(0,0,0,.45);
    font-size:11px;
    height:15px;
    line-height:15px
}

/* FIM DE DOCUMENTOS RECEBIDOS E ENVIADOS */


/* VCARD */

html[dir] ._3_7SH{
    box-shadow:0 1px .5px rgba(0,0,0,.13)
}

._3_7SH{
    position:relative
}

html[dir] ._3_7SH:last-of-type{
    margin-bottom:0
}

._3_7SH{
    display:inline-block
}

._3_7SH{
    font-family:"Open Sans",sans-serif;
    font-size:13.6px;
    line-height:19px;
    color:#262626
}

html[dir] ._3_7SH{
    border-radius:7.5px
}

._3_7SH strong{
    font-weight:700;
    color:#000
}
html[dir] ._3_7SH strong{
    text-shadow:0 0 0 rgba(0,0,0,.3)
}
._3_7SH code{
    font-size:13px
}


.message-in .tail-container,.message-in.tail-override-left .tail-container,.message-in.tail-override-right .tail-container,.message-out.tail-override-right .tail-container{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC)
}
.message-out .tail-container{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADAUExURUxpcXmHa4maet/4yA0aDRMTE8fhsgAAAAAAAMDXrCsxJeX/z1xzXIiYetPsvGBsVUdPPuH8zOH8zNDrvMvmtrrOpwAAAAAAABUVFRoaGtnyxLTMozQ+MMfftFBeSR8nH5aoh6q/mW9+ZN/4yMjhtRwlHAAAAIOWd+r/06C1kkNLOwsLC9z4xur/0+n/0t76x9v4xeL9y+b/z+j/0d/7yeH8yuX/zeD8ytz5xt76yOP/zeH+y+b/zuD8yd35xuf/0MY9jkkAAAAsdFJOUwBvd/ATDZIBAsMp/At/11c9yPbizHoICQwT4bY1ykkgjahl6s8bBYT6nUAWOLbtFAAAAIhJREFUKM/tzbUWwlAURNFBE9zdg0NecLf//yvKUJyUdDnl7HXXletXqmXl9wPbQ9JCcC+VJsOj2mDwovzj3osjHGNFEVxNRAj7UR1hlx+I4FbuC8HkZBE8OwnRxamdFsEmUxCCGdoI51RLBK9xVwTvjyMEbzlDMJMp7lqseNc8YNc6CGyF/a0vcmwhZbCG+kEAAAAASUVORK5CYII=)
}
.message-in .tail-container.highlight{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAClUExURUxpcTU1NcrKyoyMjA4ODgAAAAwMDAAAAAAAANjY2Dc3N7a2tmBgYDg4OMvLywAAALm5ubi4uGRkZMrKymdnZ4yMjM3NzdnZ2b6+vrOzs7Ozs4GBgQAAALy8vImJiQ8PDwAAAGpqasnJyTExMVpaWg8PD8XFxdLS0jQ0NLKystbW1lpaWoaGhszMzM7Ozs/Pz9TU1NDQ0NfX19jY2NPT09HR0dnZ2Si/rzgAAAAtdFJOUwAw6pUSAxQBAv0zwVo26AXFxl7lY5HMfOi+mHYJz40RDAzjLlcQ0Psxv/xBiUTl04kAAACNSURBVCjP7cu5FoIwGEThUcE/ccV9FxV3jQmgvv+jUUE1qWy95XxngLL9bGqqXqbaZfkxFHbzlMN64wGscg8E0ZsDunVLQTDW/CH9Rk4BaA4cB7R6lgOGmoOEk4w/ELQdB9RGloKgo/lD1DajAMQLxwHJIaUgON4tfUA9vxxwul044Hr2gHr4IMS/3ysApV8k8vjzIswAAAAASUVORK5CYII=)
}
.message-out.tail-override-left .tail-container{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAC9UExURUxpccfftAAAAHmHaxoaGg0aDUdPPgAAAAAAAN/4yBMTE8DXrCsxJYiYeomaepaoh9DrvMfhslBeSdPsvAAAAGBsVVxzXLrOp8vmth8nH6q/meH8zNnyxLTMo+H8zBUVFeX/zzQ+MN/4yG9+ZAsLC0NLO+r/08jhtQAAAKC1khwlHIOWd9z4xur/0+n/0uP/zeb/zuH+y9z5xt76yOL9y976x+H8yuj/0eb/z+D8ytv4xeX/zeD8yef/0N35xpCL5lsAAAAsdFJOUwDKCG8TEz0BAvANwyl/d43ikknXCVcLeswgqPbhtsgM/DXqZRZA+s8FnRuEnIC2ewAAAIZJREFUKM/ty7UWwkAARNFBE9xdgms2uMv/fxYdad5WtLxy7hnpW73R98PC3Sld7ghe8eYjVJs7BuUDCyQiGwYlUxZQzOwZou0rg1qVI4PKnQOCo5zhh9K9LYOy3TODaoMTg1swDIpnHgwajp4MGr/eDItlwKDV3DBoOrOA1jaY2MDVv9/7AJRGIVI5MG8aAAAAAElFTkSuQmCC)
}
.message-out .tail-container.highlight{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACoUExURUxpcaG3kg8PD1JdSXeHbLPKoCo1KgAAAAAAAA4ODr7Xq7HJoFZkTi8zKgwMDKK4kZ+1kC03LXuJbr7WqwAAAL/XrFpkUgAAAHuMb7LJoHKBZae9lQAAAJ2zjsfZtwAAACwxJp2yjqW8lVVqVbLLoQ8PDyk0KVJaSbHHnr3Vqp2yjXWEarPLobbOpLrTp73Wqr3XqrPMobnSp7fPpLfQo7fPpb/Yq7bPpKsjaEcAAAAsdFJOUwDFEVqN6DABAhL96l42FMbBM5H9Bf1jA5XldugMmHwJLr7PDMwQMVfj/L+JZBaDmAAAAIpJREFUKM/tzTcSwkAQRNHG7grvvfdGuxL+/jeDTASfgCLlh/OqaxQmrSZLJb1BeB0bhstwxHBbTBniAf84pwIEVywLodCRIYh6LUMLX61IAC5XF8GpXRJC3OgaAl8LRAvXzwuhmZEhiLLW0MLP04LCx24mhP0WHry6Hy0OdFjzXZsPd9mv4d/vPQGQ9iBRfDf7rQAAAABJRU5ErkJggg==)
}

html[dir=ltr] .tail-override-left{
    float:left;
    border-top-left-radius:0;
    border-top-right-radius:7.5px
}
html[dir=ltr] .tail-override-right,html[dir=rtl] .tail-override-left{
    float:right;
    border-top-left-radius:7.5px;
    border-top-right-radius:0
}
html[dir=rtl] .tail-override-right{
    float:left;
    border-top-right-radius:7.5px;
    border-top-left-radius:0
}

.tail-container.highlight{
    opacity:0
}

html[dir=ltr] .tail-override-left .tail-container,html[dir=ltr] .tail.message-in .tail-container,html[dir=rtl] .tail-override-right .tail-container,html[dir=rtl] .tail.message-out .tail-container{
    left:-12px
}

.tail-container{
    position:absolute
}


.tail-container{
    content:''
}

._1YNgi{
    box-sizing:border-box;
    width:336px
}
html[dir=ltr] ._1YNgi{
    padding:6px 7px 8px 9px
}
html[dir=rtl] ._1YNgi{
    padding:6px 9px 8px 7px
}
._1q-v2._1YNgi,._2c62Z._1YNgi{
    width:100%;
    max-width:336px
}

._3DZ69{
    align-items:center;
    display:flex;
    height:60px
}

html[dir=ltr] ._3DZ69{
    margin-left:6px;
    margin-right:8px
}
html[dir=rtl] ._3DZ69{
    margin-right:6px;
    margin-left:8px
}

._3DZ69{
    display:-webkit-flex
}

._20hTB,._24lP4{
    -webkit-flex:none
}
._20hTB{
    flex:none
}
html[dir=ltr] ._20hTB{
    margin-right:15px
}
html[dir=rtl] ._20hTB{
    margin-left:15px
}

._1WliW{
    overflow:hidden
}

html[dir] ._1WliW{
    border-radius:50%
}

._1WliW {
    position:relative
}

html[dir] ._1WliW{
    background-color:#dfe5e7
}

html[dir=ltr] .textsize-small ._1WliW,html[dir=rtl] .textsize-small ._1WliW{
    width:44px!important;
    height:44px!important
}
html[dir=ltr] .textsize-xsmall ._1WliW,html[dir=rtl] .textsize-xsmall ._1WliW{
    width:40px!important;
    height:40px!important
}
html[dir=ltr] .textsize-xxsmall ._1WliW,html[dir=rtl] .textsize-xxsmall ._1WliW{
    width:38px!important;
    height:38px!important
}
._1OWzJ img,._1OWzJ video,._2xC5r,._2xC5r svg,._3rsak{
    width:100%;
    height:100%
}
html[dir] ._1WliW.oayLL{
    background-color:initial
}

._1WliW{
    overflow:hidden
}

.gqwaM{
    opacity:1
}

html[dir=ltr] ._3ZW2E{
    left:0
}

html[dir=rtl] ._3ZW2E{
    right:0
}

._3ZW2E,._3ZW2E svg{
    width:100%;
    height:100%
}

._3ZW2E{
    position:absolute;
    top:0;
    z-index:1
}

html[dir] .oayLL ._3ZW2E{
    -webkit-transform:scale(.97);
    transform:scale(.97);
    -webkit-transform-origin:center center;
    transform-origin:center center
}

._1lC8v{
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
    overflow:hidden
}

._3gkvk .emoji{
    vertical-align:-4px
}

html[dir=rtl] ._3gkvk{
    text-align:right
}

._3gkvk{
    font-size:14px;
    font-weight:600
}

._3gkvk{
    color:#262626;
    line-height:22px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

/*
._3a5-b{
    bottom:-4px
}

html[dir=ltr] ._3a5-b{
    right:-7px
}

html[dir=rtl] ._3a5-b{
    left:-7px
}

._3a5-b{
    position:absolute
}

html[dir] ._6qEXM{
    border-top:1px solid rgba(0,0,0,.06)
}

._6qEXM{
    display:-webkit-flex;
    display:flex;
    width:100%;
    -webkit-justify-content:space-evenly;
    justify-content:space-evenly
}

html[dir] ._6qEXM{
    margin-top:8px
}

html[dir] ._6qEXM{
    border-top:1px solid rgba(0,0,0,.06)
}

*/

/* FIM VCARD */